<main>
  <h1>{{appTitle}}</h1>
  <section>
    <input type="text" placeholder="What needs to be done?" [(ngModel)]="newTodoTitle" (keyup.enter)="addTodo()">
    <ul>
      <li *ngFor="let todo of todos">
        {{todo.title}}
      </li>
    </ul>
  </section>
</main>