\:host
  &,
  & > *
    display: flex
    flex-direction: column
    align-items: center

main
  display: flex
  flex
  align-self: center
  width: 600px

  > *
    width: 100%
    box-sizing: border-box

  h1
    color: rgba(221, 197, 197, 1)
    margin: 0.15em 0
    text-align: center
    font:
      family: 'Lobster', cursive 
      size: 64pt

  section
    background-color: #fff
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1)

    ul
      list-style-type: none
      margin: 0
      padding: 0

    input,
    li
      $line-color: rgba(255, 77, 176, .4)

      box-shadow: inset 46pt 0 0 0 #fff, inset 48pt 0px 0 0 $line-color, inset -46pt 0 0 0 #fff, inset -48pt 0px 0 0 rgba(255, 77, 176, .15) 
      box-sizing: border-box
      padding: 8pt 56pt
      font:
        size: 20pt
        family: 'Architects Daughter', cursive;

    li
      border-top: 1px solid rgba(48, 201, 232, 0.6)

    input[type="text"]
      width: 100%
      border: none
      outline: none

      &::-webkit-input-placeholder
        font:
          family: Arial 
          style: italic
